.layout {
    position: relative;
    left: 50px;
    top: 10px;
    width: 800px;
}

.wrapper {
    grid-area: profile;
}

.profile {
    display: flex;
    flex-direction: row;
    color: white;
}
  
.image {
    position: relative;
    top: 40px;
    left: 50px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.info {
    position: relative;
    left: 80px;
    top: 50px;
}