.list {
    list-style-type: none;
    display: -webkit-inline-box;
}
   
.list h1 {
    margin-top: 35px;
}

.logo {
    animation: App-logo-spin infinite 20s linear;
    height: 11vmin;
    pointer-events: none;
}  

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    height: 10vmin;
    width: 100%;
    background: #ff8f4a;
}

.loginBlock {
    margin-right: 100px;
}


@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}