.App {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-areas: "header header"
                       "aside main";
  grid-template-columns: 120px 1fr;
}

.content {
  background: #303030;
  grid-area: main;
}